.container {
    min-width: 1280px;
    min-height: 800px;
    display: flex;
    justify-content: center;
    padding: 5%;
    background-color: beige;
}


.mainContent {
    width: 80%;
    height: 100%;
    background-color: white;
    box-shadow: 10px 10px 50px darkgray;
    position: relative;
}