.container {
    height: 96%;
    overflow: scroll;
}

.todoListLi {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    margin-bottom: 3%;
    width: 100%;
}