.registerButton {
    background-color: rgba(7, 7, 216, 0.864);
    color: white;
    width: 8%;
    height: 50px;
    cursor: pointer;
    border-radius: 15%;
    font-size: 20px;
}

.removeButton {
    background-color: white;
    color: black;
    width: 8%;
    height: 50px;
    cursor: pointer;
    border-radius: 15%;
    font-size: 20px;
    border: 1px solid black;
}