.registerButton {
    background-color: #698f41;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: auto;
    cursor: pointer;
}