.registerButton {
    background-color: rgba(7, 7, 216, 0.864);
    color: white;
    width: 8%;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
}

.removeButton {
    background-color: white;
    color: black;
    width: 8%;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
    border: 1px solid black;
}

.removeButton:hover {
    background-color: rgb(243, 8, 8);
    color: white;
    border: none;
}


.updateButton {
    background-color: rgb(3, 198, 29);
    color: white;
    width: 8%;
    height: 50px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 20px;
}


.updateButton:hover {
    background-color: rgb(51, 243, 8);
    color: white;
    border: none;
}