.completed {
    text-decoration: line-through;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 90%;
    border-bottom: 1px solid gray;
    font-size: 22px;
}

.noncompleted {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 90%;
    border-bottom: 1px solid gray;
    font-size: 22px;
}