.completed {
    text-decoration: line-through;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 90%;
    border-bottom: 1px solid gray;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.noncompleted {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 90%;
    border-bottom: 1px solid gray;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}