@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply font-KyoboHand;
}

input:focus {
    outline: none;
}

li {
    list-style-type: none;
}

@font-face {
    font-family: "KyoboHand";
    src: url("/public/fonts/KyoboHandwriting2019.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Cafe24Meongi";
    src: url("/public/fonts/Cafe24Meongi.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
